.header {
    background: #4B4B4B;
    height: 60px;
    padding: 16px 0;
}

.left-header {
    width: 20%;
    display: inline-block;
}

.left-header li {
    list-style-type: none;
}

.right-header {
    float: right;
}

.right-header li {
    display: inline-block;
    list-style-type: none;
    color: white;
    padding-right: 50px;
}

.right-header li:hover {
    color: #999;
    cursor: pointer;
}

.old-theme, .new-theme, .result-theme, .linux-theme {
    width: 100%;
    margin-bottom: 15px;
}

.build-error-img, .definition-img {
    margin-bottom: 15px;
}

.clear-both-sec {
    clear: both;
}

.subscribe-heading {
    margin-top: 40px;
    color: #6690cc;
    text-decoration: underline;
    font-size: 18px;
}


.archives-list li {
        text-decoration-line: underline;
    color: #6690cc;
    cursor: pointer;
    padding-top: 5px;
    font-size: 15px;
}

.oldest-post {
    margin-bottom: 50px;
}

.footer-right {
    clear: both;
    height: 180px;
    background: #eee;
    clear: both;
}

.footer-prgh {
    margin-left: 68px;
    font-size: 16px;
    padding-top: 20px;
}

.footer-img {
        position: relative;
    float: right;
    top: -82px;
}

.text-link {
    text-decoration-line: underline;
    cursor: pointer;
}