.medical-header {
  .primary-header {
    background-color: $primary-color-first;
    a {
      color: $primary-color-second !important;
    }
  }
  .secondry-header {
    background: $primary-color-third;
    color: $primary-color-second;
    ul {
      margin: 0;
      li {
        padding: 15px 10px;
        cursor: pointer;
        a {
          color: $primary-color-second;
          text-decoration: none;
        }
      }
    }
  }
  .my-container {
    width: 80%;
    margin: 0 auto;
  }
  .search:hover {
    background: $primary-color-first;
  }
  .search-form {
    padding-top: 25px;
    padding-bottom: 25px;
    background: $primary-color-first;
  }
}
