.sol-heading {
    margin-left: 15%;
    width: 35%;
    text-align: center;
    color: white;
    position: relative;
    bottom: 150px;
    margin: 0 auto;
    margin-bottom: -35px;
}

.design-section {
    margin-left: 10%;
        margin-right: 10%;
}

.horizontal-line {
	    margin-left: 10%;
    margin-right: 10%;
}

.schudule-free-btn {
    padding: 14px 25px;
    background: none;
    border-radius: 0px;
    font-weight: 500;
    margin-top: 20px;
    border: 2px black solid;
}

.schudule-free-btn:hover {
	background: black;
	color: white;
}